/*index*/
.index-header{
    height: 100vh;
}


/*lab1*/
.infoTable{
    display:none;
}

.minmaxavgTables{
    display:none;
}

.main-table-container{
    display:none;
}

.table-container{
    max-height: 500px;
    overflow-y: scroll;
}


/*lab3*/
.image_container{
}

.chart{
    width: 600px;
    height: 400px;
}