<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Labs - Table</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container-xl p-2">
        <button id="toggleInfoButton" class="btn btn-primary mb-2">Показать/Скрыть информацию о столбцах</button>
        <div id="infoTable" class="infoTable">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Название столбца</th>
                        <th>Тип данных</th>
                        <th>Пустые ячейки</th>
                        <th>Заполненные ячейки</th>
                    </tr>
                </thead>
                <tbody>
                    {% for index, row in info_df.iterrows() %}
                        <tr>
                            <td>{{ row["Name"] }}</td>
                            <td>{{ row["Type"] }}</td>
                            <td>{{ row["EmptyCells"] }}</td>
                            <td>{{ row["FilledCells"] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <form class="mt-2">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="row_from">Строки (max={{max_rows}}): с</label>
                    <input type="number" class="form-control" id="row_from" name="row_from" value="{{ search_values[0][1] }}">
                </div>
                <div class="form-group col-md-4">
                    <label for="row_to">до</label>
                    <input type="number" class="form-control" id="row_to" name="row_to" value="{{ search_values[2][1] }}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="column_from">Столбцы (max={{max_columns}}): с</label>
                    <input type="number" class="form-control" id="column_from" name="column_from" value="{{ search_values[1][1] }}">
                </div>
                <div class="form-group col-md-4">
                    <label for="column_to">до</label>
                    <input type="number" class="form-control" id="column_to" name="column_to" value="{{ search_values[3][1] }}">
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Получить таблицу</button>
                <button type="button" id="toggleMainButton" class="btn btn-primary">Показать/Скрыть основную таблицу</button>
                <button type="button" id="toggleAdLab2" class="btn btn-primary">Показать/Скрыть min, max, avg таблицы</button>
            </div>
        </form>

        <div id="adLab2" class="minmaxavgTables">
            <div class="text-center mt-2">
                <h2>Минимальная, максимальная, средняя длительность жизни в разрезе гендера</h2>
                <div class="table-container">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                {% for header in first_ad.columns %}
                                    <th>{{ header }}</th>
                               {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for index, row in first_ad.iterrows() %}
                                <tr>
                                    {% for value in row %}
                                        <td>{{ value }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="text-center mt-2">
                <h2>Минимальная, максимальная, средняя длительность жизни в разрезе вида деятельности</h2>
                <div class="table-container">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                {% for header in second_ad.columns %}
                                    <th>{{ header }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for index, row in second_ad.iterrows() %}
                                <tr>
                                    {% for value in row %}
                                        <td>{{ value }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="text-center mt-2">
                <h2>Минимальный, максимальный, средний год рождения в разрезе вида деятельности</h2>
                <div class="table-container">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                {% for header in third_ad.columns %}
                                    <th>{{ header }}</th>
                               {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for index, row in third_ad.iterrows() %}
                                <tr>
                                    {% for value in row %}
                                        <td>{{ value }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="text-center mt-2">
                <h2>Минимальное, максимальное, среднее количество деятелей в разрезе веков</h2>
                <div class="table-container">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                {% for header in fourth_ad.columns %}
                                    <th>{{ header }}</th>
                               {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for index, row in fourth_ad.iterrows() %}
                                <tr>
                                    {% for value in row %}
                                        <td>{{ value }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div id="mainTable" class="main-table-container table-container text-center mt-4">
            <table class="table table-bordered main-table">
                <thead class="thead-dark">
                   <tr>
                       {% for header in result_table.columns %}
                            <th>{{ header }}</th>
                       {% endfor %}
                   </tr>
                </thead>
                <tbody>
                    {% for index, row in result_table.iterrows() %}
                        <tr>
                            {% for value in row %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
